<table class="uk-table">
	<tr>
		<th>Node Name</th>
		<th>Node Id</th>
		<th>IP Management</th>
		<th>Last Seen</th>
		<th>Serial</th>
		<th>Manufacturer</th>
		<th>Model</th>
	</tr>
	<tr>
		<td>{{ name }}</td>
		<td>{{ id }}</td>
		<td>{{ ipManagement }}</td>
		<td>{{ lastSeen }}</td>
		<td>{{ serial }}</td>
		<td>{{ manufacturer }}</td>
		<td>{{ model }}</td>
	</tr>
</table>